<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop     http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/task    http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       default-autowire="byName">
	<description>Spring公共配置</description>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<context:component-scan base-package="project">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<bean name="springApplicationContextHolder" class="project.util.SpringApplicationContextHolder"></bean>
	<!-- 数据源配置 -->
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<!-- mysql -->
		<property name="url" value="jdbc:mysql://localhost:3306/no260_tyg?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		
		<!-- oracle 
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="sxltest" />
		<property name="password" value="sxltest" />-->
		
		<!-- sqlserver
		<property name="url" value="jdbc:jtds:sqlserver://localhost:1433;databaseName=zbpsqpkl4" />
		<property name="username" value="sa" />
		<property name="password" value="123456" />-->
		
		<property name="filters" value="stat" />
		<property name="maxActive" value="80" />
		<property name="initialSize" value="1" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="3000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x' FROM DUAL" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>
	 
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<!-- jdbc事务管理器 -->  
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource">  
            <ref local="dataSource" />  
        </property>  
    </bean>  
    <!--事务模板 -->  
    <bean id="transactionTemplate"  
        class="org.springframework.transaction.support.TransactionTemplate">  
        <property name="transactionManager">  
            <ref local="transactionManager" />  
        </property>  
        <!--ISOLATION_DEFAULT 表示由使用的数据库决定  -->  
        <property name="isolationLevelName" value="ISOLATION_DEFAULT"/>  
        <property name="propagationBehaviorName" value="PROPAGATION_REQUIRED"/>  
        <!-- <property name="timeout" value="30"/> -->  
    </bean>  
    <!-- db操作类 -->
    <bean id="db"  
        class="project.util.DBHelper">  
        <property name="jdbcTemplate">  
            <ref local="jdbcTemplate" />  
        </property>
        <property name="transactionTemplate">  
            <ref local="transactionTemplate" />  
        </property>
    </bean>
   <bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:project/model/mapping/*.xml" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean> 
   <!-- 注入到dao层 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="project.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
</beans>