<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project.dao.LbtDao">
	<resultMap id="BaseResultMap" type="project.model.Lbt">
		<id column="pic" property="pic"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_lbt(pic) values(#{pic})
	</insert>
	
	<update id="update">
	 update t_lbt
	 <trim prefix="set" suffixOverrides=",">
	  <if test="pic!=null">pic=#{pic},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="project.model.Lbt">
		select * from t_lbt where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_lbt where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap" parameterType="project.model.Lbt">
		select * from t_lbt where 1=1 
		<if test="begin!=null and page_num!=null">limit #{begin},#{page_num}</if>
	</select>
	<select id="countAll" resultType="java.lang.Integer" parameterType="project.model.Lbt">
		select count(1) from t_lbt where 1=1 
	</select>
</mapper>
